.error {
    border: 1px solid #FF0000;
}

.margin10 {
    margin: 10px;
}

.btns-left {
    maring:0px;
    padding:0px;
    width: 49%;
    text-align: left;
    display: inline-block;
}

.btns-right {
    maring:0px;
    padding:0px;
    width: 49%;
    text-align: right;
    display: inline-block;
}

.rangepicker {
    width: 200px;
    display: inline-block;
}

.scrollTable {
    height:500px;
    overflow:auto;
}